<p>
  <strong><%= Traveler.human_attribute_name(:name) %>:</strong>
  <%= link_to @passport.traveler.name, @passport.traveler %>
</p>

<p>
  <strong><%= Passport.human_attribute_name(:passport_number) %>:</strong>
  <%= @passport.passport_number %>
</p>

<p>
  <strong><%= Passport.human_attribute_name(:nationality) %>:</strong>
  <%= @passport.nationality %>
</p>

<%= link_to t("edit"), edit_traveler_passport_path %>
