<h1><%= t("messages.send_message") %></h1>

<%= form_with(model: @message, local: true) do |form| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors_caused_save_failure", error_count: @message.errors.count) %></h2>
    </div>
  <% end %>

  <div class="field">
    <%= render "form_item_errors", attribute: :receiver_id, errors: @message.errors %>
    <%= form.label :receiver %>
    <%= form.collection_select :receiver_id, User.all, :id, :email, prompt: true %>
  </div>

  <%= render "form_item", attribute: :subject, form: form, errors: @message.errors %>

  <div class="field">
    <%= render "form_item_errors", attribute: :content, errors: @message.errors %>
    <%= form.label :content %>
    <%= form.text_area :content, size: "50x10" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to t("messages.inbox"), received_messages_path %>  | 
<%= link_to t("messages.sent"), sent_messages_path %>
