<h1><%= t("search_source_code") %></h1>

<%= form_with(url: source_code_search_path, method: "get", local: true, class: "clearable-form") do |form| %>
  <div class="field">
    <%= form.label :expression, t("search_expression") %>
    <%= form.text_field :expression, value: @expression, required: "required" %>
  </div>
  <div class="actions">
    <%= form.submit t("search"), name: nil %>
    <button class="clear-form"><%= t("reset") %></button>
  </div>
<% end %>

<% if @results %>
  <h2><%= t("search_results") %></h2>
  <% @results.each do |file, file_results| %>
    <table border='1'>
      <caption><%= file %></caption>
      <tr>
        <th><%= t("line_number") %></th>
        <th><%= t("line_content") %></th>
      </tr>
      <% file_results.each do |result| %>
        <tr>
          <td><%= result[:line_number] %></td>
          <td><%= highlight_identifier(result[:content], @expression) %></td>
        </tr>
      <% end %>
    </table>
    <br>
  <% end %>
<% end %>
