<%= form_with(model: employee_search, url: employees_path, method: "get", local: true, class: "clearable-form") do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :department %>
    <%= form.text_field :department %>
  </div>
  <div class="field">
    <%= form.label :date_of_joining_lower_limit %>
    <%= form.date_field :date_of_joining_lower_limit, value: employee_search.date_of_joining_lower_limit %>
  </div>
  <div class="field">
    <%= form.label :date_of_joining_upper_limit %>
    <%= form.date_field :date_of_joining_upper_limit, value: employee_search.date_of_joining_upper_limit %>
  </div>

  <div class="actions">
    <%= form.submit "検索" %>
    <button class="clear-form">リセット</button>
  </div>
<% end %>
