<h1><%= Employee.model_name.human %></h1>

<h3><%= t("search_model", model: Employee.model_name.human) %></h3>

<%= 
  render(
    "search_form", 
    model: Employee, 
    url: employees_path, 
    search_params: @search_params, 
    errors: @search_errors
  )
%>

<% if @search_errors.empty? %>
  <% if @search_params[:date_of_joining].present? %>
    <%= t("search_time") %>： <%= @query_execution_time.round(3) %> ms
  <% end %>

  <p>
    <%= link_to t("create_model", model: Employee.model_name.human), new_employee_path %>
  </p>

  <% if @employees.length > 0 %>
    <table>
      <thead>
        <tr>
          <th><%= Employee.human_attribute_name(:name) %></th>
          <th><%= Employee.human_attribute_name(:date_of_joining) %></th>
          <th><%= Employee.human_attribute_name(:department) %></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @employees.each do |employee| %>
          <tr>
            <td><%= employee.name %></td>
            <td><%= employee.date_of_joining %></td>
            <td><%= employee.department %></td>
            <td><%= link_to  t("show"), employee %></td>
            <td><%= link_to  t("edit"), edit_employee_path(employee) %></td>
            <td><%= link_to  t("delete"), employee, method: :delete, data: { confirm: t("delete_confirmation") } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p><%= t("search_no_results_found_of_model", model: Employee.model_name.human) %></p> 
  <% end %>

  <%= 
    render(
      "paginator",
      path: :employees_path,
      paginator: @paginator,
      params: @search_params
    )
  %>

<% else %>
  <p class="errors"><%= t("errors_caused_search_failure") %></p> 
<% end %>
