<p>
  <strong><%= Employee.human_attribute_name(:name) %>:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong><%= Employee.human_attribute_name(:date_of_joining) %>:</strong>
  <%= @employee.date_of_joining %>
</p>

<p>
  <strong><%= Employee.human_attribute_name(:department) %>:</strong>
  <%= @employee.department %>
</p>

<%= link_to t("edit"), [:edit, @employee] %> |
<%= link_to t("back"), employees_path %>
