<%= form_with(model: citizen, local: true) do |form| %>
  <% if citizen.errors.any? %>
    <div id="error_explanation">
      <h2><%= citizen.errors.count %> エラーがあって保存が失敗しました。</h2>
    </div>
  <% end %>

  <%= render "form_item", attribute: :name, form: form, errors: citizen.errors %>
  <%= render "form_item", attribute: :city, form: form, errors: citizen.errors %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
