<h1>市民</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>都市</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @citizens.each do |citizen| %>
      <tr>
        <td><%= citizen.name %></td>
        <td><%= citizen.city %></td>
        <td><%= link_to "表示", citizen %></td>
        <td><%= link_to "編集", edit_citizen_path(citizen) %></td>
        <td><%= link_to "削除", citizen, method: :delete, data: { confirm: "削除は宜しいですか?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "市民作成", new_citizen_path %>
