<h1><%= Citizen.model_name.human %></h1>

<p>
  <%= link_to t("create_model", model: Citizen.model_name.human), new_citizen_path %>
</p>

<h3><%= t("search_secure") %></h3>
<%= 
  render(
    "search_form", 
    model: Citizen, 
    url: citizens_path, 
    search_params: @search_params
  )
%>

<h3><%= t("search_insecure") %></h3>
<%= 
  render(
    "search_form", 
    model: Citizen, 
    url: index_vulnerable_citizens_path, 
    search_params: @search_params
  )
%>

<table>
  <thead>
    <tr>
      <th><%= Citizen.human_attribute_name(:name) %></th>
      <th><%= Citizen.human_attribute_name(:city) %></th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @citizens.each do |citizen| %>
      <tr>
        <td><%= citizen.name %></td>
        <td><%= citizen.city %></td>
        <td><%= link_to t("show_secure"), citizen %></td>
        <td><%= link_to t("show_insecure"), [:show_vulnerable, citizen] %></td>
        <td><%= link_to t("edit_secure"), [:edit, citizen] %></td>
        <td><%= link_to t("edit_insecure"), [:edit_vulnerable, citizen] %></td>
        <td><%= link_to t("delete"), citizen, method: :delete, data: { confirm: t("delete_confirmation") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
