<h1><%= t("edit_model", model: User.model_name.human) %></h1>

<%= render "form", user: @user %>

<%= link_to t("show"), @user %> |
<%= link_to Permission.model_name.human, [@user, :permissions] %> |
<%= link_to t("back"), users_path %>
