<h1><%= User.model_name.human %></h1>
<p>
  <%= link_to t("create_model", model: User.model_name.human), new_user_path %>
</p>

<table>
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:name) %></th>
      <th><%= User.human_attribute_name(:email) %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to t("show"), user %></td>
        <td><%= link_to t("edit"), edit_user_path(user) %></td>
        <td><%= link_to Permission.model_name.human, user_permissions_path(user) %></td>
        <td><%= link_to t("delete"), user, method: :delete, data: { confirm: t("delete_confirmation") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "paginator", path: :users_path, paginator: @paginator %>
