<h1>ユーザー</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>メール</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to "表示", user %></td>
        <td><%= link_to "編集", edit_user_path(user) %></td>
        <td><%= link_to "権限", user_permissions_path(user) %></td>
        <td><%= link_to "削除", user, method: :delete, data: { confirm: "削除は宜しいですか?" } %></td>
        <td>
          <% if user.health_information %>
            <%= link_to "健康情報", user.health_information %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "新ユーザー", new_user_path %>
