<p>
  <strong><%= Investor.human_attribute_name(:account_number) %>:</strong>
  <%= @stock_investment.investor.account_number %>
</p>

<p>
  <strong><%= StockInvestment.human_attribute_name(:stock_name) %>:</strong>
  <%= @stock_investment.stock_name %>
</p>

<p>
  <strong><%= StockInvestment.human_attribute_name(:shares_owned) %>:</strong>
  <%= @stock_investment.shares_owned %>
</p>

<%=
  link_to(
    t("edit"),
    edit_investor_stock_investment_path(@stock_investment.investor , @stock_investment) 
  )
%> |
<%= link_to t("back"), investor_stock_investments_path %>
