<h1><%= Traveler.model_name.human %></h1>
<p>
  <%= link_to t("create_model", model: Traveler.model_name.human), new_traveler_path %>
</p>

<table>
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:email) %></th>
      <th><%= Traveler.human_attribute_name(:name) %></th>
      <th><%= Traveler.human_attribute_name(:departure_country) %></th>
      <th><%= Traveler.human_attribute_name(:arrival_country) %></th>
      <th colspan="3"></th>
      <th colspan="2"><%= Passport.model_name.human %></th>
    </tr>
  </thead>

  <tbody>
    <% @travelers.each do |traveler| %>
      <tr>
        <td><%= traveler.account_user.email %></td>
        <td><%= traveler.name %></td>
        <td><%= traveler.departure_country %></td>
        <td><%= traveler.arrival_country %></td>
        <td><%= link_to t("show"), traveler %></td>
        <td><%= link_to t("edit"), [:edit, traveler] %></td>
        <td><%= link_to t("delete"), traveler, method: :delete, data: { confirm: t("delete_confirmation") } %></td>
        <td>
          <% if traveler.passport %>
            <%= link_to t("show"), [traveler, :passport]  %>
            <%= link_to t("delete"), [traveler, :passport], method: :delete, data: { confirm: t("delete_confirmation") } %>
          <% else %>
            <%= link_to t("create"), [:new, traveler, :passport] %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render "paginator", path: :travelers_path, paginator: @paginator %>
