<p>
  <strong><%= Traveler.human_attribute_name(:name) %>:</strong>
  <%= @traveler.name %>
</p>

<p>
  <strong><%= Traveler.human_attribute_name(:departure_country) %>:</strong>
  <%= @traveler.departure_country %>
</p>

<p>
  <strong><%= Traveler.human_attribute_name(:arrival_country) %>:</strong>
  <%= @traveler.arrival_country %>
</p>

<%= link_to t("edit"), edit_traveler_path(@traveler) %> |
<%= link_to t("back"), travelers_path %>
