<h1><%= Project.model_name.human %></h1>
<p>
  <%= link_to t("create_model", model: Project.model_name.human), new_project_path %>
</p>

<table>
  <thead>
    <tr>
      <th><%= Project.human_attribute_name(:name) %></th>
      <th><%= Project.human_attribute_name(:description) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= link_to t("show"), project %></td>
        <td><%= link_to t("edit"), [:edit, project] %></td>
        <td><%= link_to t("delete"), project, method: :delete, data: { confirm: t("delete_confirmation") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
