<p>
  <strong><%= Project.human_attribute_name(:name) %>:</strong>
  <%= @project.name %>
</p>

<p>
  <strong><%= Project.human_attribute_name(:description) %>:</strong>
  <%= @project.description %>
</p>

<p>
  <strong><%= t("technologies_used") %>:</strong>
  <%  @project.technologies.each_with_index do |technology, index| %>
    <% if index > 0 %> | <% end %>
    <%= link_to technology.name, technology %>
  <% end %>
</p>


<%= link_to t("edit"), [:edit, project] %> |
<%= link_to t("back"), projects_path %>
