<%= form_with(model: permission, url: user_permissions_path, local: true) do |form| %>
  <% if permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(permission.errors.count, "error") %> エラーがあって保存が失敗しました。</h2>

      <ul>
        <% permission.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :action %>
    <%= form.text_field :action %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
