<h1><%= t("permissions_of_user", user: @user.email) %></h1>
<%= link_to t("show_model", model: User.model_name.human), @user %> |
<%= link_to t("edit_model", model: User.model_name.human), edit_user_path(@user) %> |
<%= link_to t("back"), users_path %>

<br>
<br>

<button class="check-all"><%= t("check_all") %></button>
<button class="uncheck-all"><%= t("uncheck_all") %></button>

<br>
<br>

<%= form_with(url: user_permissions_path, method: "patch", local: true) do |form| %>
  <% Permission.all_actions.each do |action| %>
    <div class="field">
      <%= 
        form.check_box(
          :actions, 
          { 
            multiple: true, 
            id: action, 
            class: "bulk-check", 
            checked: @user.permission?(action) ? "checked" : "" 
          }, 
          action
        )
      %>
      <%= form.label action, class: "checkbox-label" %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
