<h1>投資家</h1>
<p>
  <%= link_to "投資家作成", new_investor_path %>
</p>

<table>
  <thead>
    <tr>
      <th>アカウントユーザー</th>
      <th>アカウント番号</th>
      <th>円で残高</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @investors.each do |investor| %>
      <tr>
        <td><%= investor.account_user.email %></td>
        <td><%= investor.account_number %></td>
        <td><%= investor.balance_in_yen %></td>
        <td><%= link_to "表示", investor %></td>
        <td><%= link_to "編集", edit_investor_path(investor) %></td>
        <td><%= link_to "削除", investor, method: :delete, data: { confirm: "削除は宜しいですか?" } %></td>
        <td><%= link_to "株式投資", investor_stock_investments_path(investor) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
