<h1><%= Investor.model_name.human %></h1>

<p>
  <%= link_to t("create_model", model: Investor.model_name.human), [:new, :investor] %>
</p>

<table>
  <thead>
    <tr>
      <th><%= Investor.human_attribute_name(:account_number) %></th>
      <th><%= Investor.human_attribute_name(:balance_in_yen) %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @investors.each do |investor| %>
      <tr>
        <td><%= investor.account_number %></td>
        <td><%= investor.balance_in_yen %></td>
        <td><%= link_to t("show"), investor %></td>
        <td><%= link_to t("edit"), [:edit, investor] %></td>
        <td><%= link_to t("delete"), investor, method: :delete, data: { confirm: t("delete_confirmation") } %></td>
        <td><%= link_to StockInvestment.model_name.human, [investor, :stock_investments] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
