<p>
  <strong><%= Investor.human_attribute_name(:account_number) %>:</strong>
  <%= @investor.account_number %>
</p>

<p>
  <strong><%= Investor.human_attribute_name(:balance_in_yen) %>:</strong>
  <%= @investor.balance_in_yen %>
</p>

<%= link_to t("edit"), edit_investor_path(@investor) %> |
<%= link_to t("back"), investors_path %>
