<h2><%= t("normalization.unnormalized_table") %></h2>

<table border='1'>
  <caption><%= UnnormalizedSiteVisitor.model_name.human %></caption>
  <tr>
    <th><%= t("id") %></th>
    <th><%= UnnormalizedSiteVisitor.human_attribute_name(:name) %></th>
    <th><%= UnnormalizedSiteVisitor.human_attribute_name(:country) %></th>
    <th><%= UnnormalizedSiteVisitor.human_attribute_name(:browser) %></th>
    <th><%= UnnormalizedSiteVisitor.human_attribute_name(:browser_developer) %></th>
    <th><%= UnnormalizedSiteVisitor.human_attribute_name(:browser_platforms) %></th>
  </tr>
  <% @unnormalized_site_visitors.each do |site_visitor| %>
    <tr>
      <td><%= site_visitor.id %></td>
      <td><%= site_visitor.name %></td>
      <td><%= site_visitor.country %></td>
      <td><%= site_visitor.browser %></td>
      <td><%= site_visitor.browser_developer %></td>
      <td><%= site_visitor.browser_platforms %></td>
    </tr>
  <% end %>
</table>

<h2><%= t("normalization.normalized_table") %></h2>

<table border='1'>
  <caption><%= SiteVisitor.model_name.human %></caption>
  <tr>
    <th><%= t("id") %></th>
    <th><%= SiteVisitor.human_attribute_name(:name) %></th>
    <th><%= SiteVisitor.human_attribute_name(:country) %></th>
    <th><%= Browser.model_name.human %></th>
  </tr>
  <% @site_visitors.each do |site_visitor| %>
    <tr>
      <td><%= site_visitor.id %></td>
      <td><%= site_visitor.name %></td>
      <td><%= site_visitor.country %></td>
      <td><%= site_visitor.browser.id %></td>
    </tr>
  <% end %>
</table>

<br>

<table border='1'>
  <caption><%= Browser.model_name.human %></caption>
  <tr>
    <th><%= t("id") %></th>
    <th><%= Browser.human_attribute_name(:name) %></th>
    <th><%= Browser.human_attribute_name(:developer) %></th>
  </tr>
  <% @browsers.each do |browser| %>
    <tr>
      <td><%= browser.id %></td>
      <td><%= browser.name %></td>
      <td><%= browser.developer %></td>
    </tr>
  <% end %>
</table>

<br>

<table border='1'>
  <caption><%= Platform.model_name.human %></caption>
  <tr>
    <th><%= t("id") %></th>
    <th><%= Platform.human_attribute_name(:name) %></th>
  </tr>
  <% @platforms.each do |platform| %>
    <tr>
      <td><%= platform.id %></td>
      <td><%= platform.name %></td>
    </tr>
  <% end %>
</table>

<br>

<table border='1'>
  <caption><%= BrowserCompatibility.model_name.human %></caption>
  <tr>
    <th><%= t("normalization.browser_id") %></th>
    <th><%= t("normalization.platform_id") %></th>
  </tr>
  <% @browser_compatibilities.each do |compatibility| %>
    <tr>
      <td><%= compatibility.browser.id %></td>
      <td><%= compatibility.platform.id %></td>
    </tr>
  <% end %>
</table>
