<%= form_with(model: health_information, local: true) do |form| %>
  <% if health_information.errors.any? %>
    <div id="error_explanation">
      <h2><%= health_information.errors.count %> エラーがあって保存が失敗しました。</h2>
    </div>
  <% end %>

  <div class="field">
    <%= render "form_label_and_errors", attribute: :user_id, form: form, errors: health_information.errors %>
    <%= form.select :user_id, User.all.map{ |user| [user.email, user.id] } %>
  </div>

  <div class="field">
    <%= render "form_label_and_errors", attribute: :height_in_cm, form: form, errors: health_information.errors %>
    <%= form.text_field :height_in_cm %>
  </div>

  <div class="field">
    <%= render "form_label_and_errors", attribute: :weight_in_kg, form: form, errors: health_information.errors %>
    <%= form.text_field :weight_in_kg %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
