<p>
  <strong>ユーザー:</strong>
  <%= link_to @health_information.user.email, @health_information.user %>
</p>

<p>
  <strong>cmで身長:</strong>
  <%= @health_information.height_in_cm %>
</p>

<p>
  <strong>kgで体重:</strong>
  <%= @health_information.weight_in_kg %>
</p>

<%= link_to "編集", edit_health_information_path(@health_information) %> |
<%= link_to "戻り", health_information_index_path %>
