<p>
  <strong>名前:</strong>
  <%= @international_traveler.name %>
</p>

<p>
  <strong>出発国:</strong>
  <%= @international_traveler.departure_country %>
</p>

<p>
  <strong>到着国:</strong>
  <%= @international_traveler.arrival_country %>
</p>

<%= link_to "編集", edit_international_traveler_path(@international_traveler) %> |
<%= link_to "戻り", international_travelers_path %>
