<h1><%= Technology.model_name.human %></h1>
<p>
  <%= link_to t("create_model", model: Technology.model_name.human), new_technology_path %>
</p>

<table>
  <thead>
    <tr>
      <th><%= Technology.human_attribute_name(:name) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @technologies.each do |technology| %>
      <tr>
        <td><%= technology.name %></td>
        <td><%= link_to t("show"), technology %></td>
        <td><%= link_to t("edit"), edit_technology_path(technology) %></td>
        <td><%= link_to t("delete"), technology, method: :delete, data: { confirm: t("delete_confirmation") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
