<p>
  <strong><%= Technology.human_attribute_name(:name) %>:</strong>
  <%= @technology.name %>
</p>
<p>
  <strong><%= t("used_in_projects") %>:</strong>
  <br>
  <% @technology.projects.each do |project| %>
    <%= link_to project.name, project %>
    <br>
  <% end %>
</p>

<%= link_to t("edit"), edit_technology_path(@technology) %> |
<%= link_to t("back"), technologies_path %>
