<% params ||= {} %>
<div class="paginator">
  <%= link_to_if paginator.page > 1, "最初", send(path, **params) %>
  <%= link_to_if paginator.page > 1,  "前", send(path, page: paginator.page - 1, **params) %>
  <% if paginator.page > 1%>
    ...
  <% end %>
  <% (paginator.page..paginator.end_page).each do |page| %>
    <%= link_to_if paginator.page != page, page, send(path, page: page, **params) %>
  <% end %>
  <% if paginator.end_page < paginator.last_page %>
    ...
  <% end %>
  <%= link_to_if paginator.page < paginator.last_page, "次", send(path, page: paginator.page + 1, **params) %>
  <%= link_to_if paginator.page < paginator.last_page, "最後", send(path, page: paginator.last_page, **params) %>
</div>
