<% params ||= {} %>
<div class="paginator">
  <%= link_to_if paginator.page > 1, t("first_page"), send(path, **params) %>
  <%= link_to_if paginator.page > 1, t("previous_page"), send(path, page: paginator.page - 1, **params) %>
  <% if paginator.page > 1 %>
    ...
  <% end %>
  <% (paginator.page..paginator.end_page).each do |page| %>
    <%= link_to_if paginator.page != page, page, send(path, page: page, **params) %>
  <% end %>
  <% if paginator.end_page < paginator.last_page %>
    ...
  <% end %>
  <%= link_to_if paginator.page < paginator.last_page, t("next_page"), send(path, page: paginator.page + 1, **params) %>
  <%= link_to_if paginator.page < paginator.last_page, t("last_page"), send(path, page: paginator.last_page, **params) %>
</div>
