<%= form_with(url: url, method: "get", local: true, class: "clearable-form") do |form| %>
  <% model.searchable_columns.map(&:to_sym).each do |column| %>
    <div class="field">
      <ul class="errors">
        <% if local_assigns[:errors] %>
          <% errors.fetch(column, []).each do |message| %>
            <li><%= message %></li>
          <% end %>
        <% end %>
      </ul>
      <%= form.label(model.human_attribute_name(column)) %>
      <%= form.send(field_for_column_type(model, column), column, value: search_params[column]) %>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit "検索", name: nil %>
    <button class="clear-form">リセット</button>
  </div>
<% end %>
