<!DOCTYPE html>
<html>
  <head>
    <title>BootcampApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% if session[:pink_mode] %>
      <%= stylesheet_link_tag 'pink_theme', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <h1><%= link_to "Bootcamp App", root_path %></h1>
    </div>

    <% if logged_in? %>
      <div class="navigation">
        <h3>メニュー</h3>
        <ul>
          <li><%= link_to "ユーザー", users_path %></li>
          <li><%= link_to "旅行者", travelers_path %></li>
          <li><%= link_to "投資家", investors_path %></li>
          <li><%= link_to "プロジェクト", projects_path %></li>
          <li><%= link_to "技術", technologies_path %></li>
          <li><%= link_to "社員", employees_path %></li>
          <li><%= link_to "市民", citizens_path %></li>
          <li><%= link_to "ログ説明", log_path %></li>
          <li><%= link_to "生成されるSQL", sql_path %></li>
          <li><%= link_to "データベース正規化", normalization_path %></li>
          <li><%= link_to "ソースコード検索", source_code_search_path %></li>
          <li><%= link_to "ログアウト", logout_path, method: :delete, data: { confirm: "ログアウトして宜しいですか?" }  %></li>
          <li><%= link_to "ピンクモード #{session[:pink_mode] ? "OFF" : "ON"}", toggle_pink_mode_path, method: :post %></li>
        </ul>
      </div>
    <% end %>
    
    <div class="content-area">
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
