<!DOCTYPE html>
<html>
  <head>
    <title>BootcampApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% if session[:pink_mode] %>
      <%= stylesheet_link_tag 'pink_theme', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <h1><%= link_to "Bootcamp App", root_path %></h1>
    </div>

    <% if logged_in? %>
      <div class="navigation">
        <h3><%= t("menu") %></h3>
        <ul>
          <li>
            <h4><%= Message.model_name.human %></h4>
            <ul>
              <li><%= link_to t("messages.inbox"), received_messages_path %></li>
              <li><%= link_to t("messages.sent"), sent_messages_path %></li>
            </ul>
          </li>
          <br>
          <li><%= link_to User.model_name.human, users_path %></li>
          <li><%= link_to Traveler.model_name.human, travelers_path %></li>
          <li><%= link_to Investor.model_name.human, investors_path %></li>
          <li><%= link_to Project.model_name.human, projects_path %></li>
          <li><%= link_to Technology.model_name.human, technologies_path %></li>
          <li><%= link_to Employee.model_name.human, employees_path %></li>
          <li><%= link_to Citizen.model_name.human, citizens_path %></li>
          <li><%= link_to t("log_explanation"), log_path %></li>
          <li><%= link_to t("generated_sql"), sql_path %></li>
          <li><%= link_to t("normalization.database_normalization"), normalization_path %></li>
          <li><%= link_to t("search_source_code"), source_code_search_path %></li>
          <li><%= link_to t("logout"), logout_path, method: :delete, data: { confirm: t("logout_confirmation") }  %></li>
          <li><%= link_to "#{t("pink_mode")} #{session[:pink_mode] ? "OFF" : "ON"}", toggle_pink_mode_path, method: :post %></li>
        </ul>
      </div>
    <% end %>
    
    <div class="content-area">
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
